h1 { 
  text-align: center;
color: red; 
text-shadow: 4px 4px 2px rgb(155, 12, 12)
}

.title { 
 color:rgb(16, 87, 218)   
};



#italic {color:
     pink;}

     #bob{color: royalblue;}


    nav{
      background-color: burlywood;
      text-align: center;
    }

   .nav-wrapper{

    background-color: rgb(0, 255, 170);
   }
    a{
      text-decoration-line: none;
    }

    nav ul {
      list-style: none;
    }

    nav li {
      display: inline-block;
      padding: 30px;
    }

     .container 
     { border: 10px dashed rgb(14, 179, 171);
        margin-top: 50px 5px 25px 0px;
      padding:30px 0px 10px 35px;
     }


     .box { 
       height: 200px;
       width:200px;
       background:blue;
       margin:10px;
     }

     @keyframes fadeMe {
       0%{
         opacity: 1;
       }
       100%{
         opacity: 0;
       }
     }


     #box1{
       animation-name: fadeMe ;
       animation-duration: 4s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
     }

     @keyframes rotation {
      0% { transform:rotate( 90deg) ;}
      50% { transform:rotate( 180deg) ;}
      100% { transform:rotate( 360deg) ;} 
     }
      #box2{
     animation-name: rotation;
     animation-duration: 2s;
     animation-iteration-count: 4s;
     animation-timing-function: ease-in-out;
     border-radius: 10%;
     background-image: radial-gradient( circle, purple , orange, green, gray, red );
      }

     @keyframes getBigger{ 
      0% { transform:scale(1); } 
      50% { transform:scale(2); } 
      100% { transform:scale(.5); } 
     }


     #box3 {
       animation: getBigger infinite 8s linear; 
       border-radius: 50%;
       background:  darkmagenta;
     }

     @keyframes changeColors {
       0%{ background-color: darkturquoise;}
       25%{ background-color: violet;}
       50%{ background-color: lime;}
       75%{ background-color: rgb(219, 68, 8);}
       100%{ background-color: silver;}
     }

     #box4 { 
       animation: changeColors 3s 2s forwards;

     }

     @keyframes moveBox{
       0% { left: 0px; top: 0px;}
       25% { left: 100px; top: 0px;}
       50% { left: 100px; top: 200px;}
       75% { left: 0px; top: 200px;}
       100% { left: 0px; top: 0px;}
     }

     #box5 {
       position: relative;
       background: gold;
       animation: moveBox 5s 3s;
     }

     #box6 {
       top:10px;
       left:20px;
       position: relative;
     }


    

     .circle-img{ 
     border-radius:  50%;
     }

     img{
       box-shadow: 8px 8px 3px 10px rgb(153, 154, 156) ;
     }

     .flex {
       margin:30px;
       border: 3px solid rgb(49, 0, 128);
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       flex-direction:row;
       }

       .contact-box{
         display:flex;
         justify-content:center;
       }
      
      .row{
        margin:30px;
      }

      .input-field{
        margin: 20px;
      }

       form input, textarea, button {
         display: block;
         margin: 30px;
       }


       .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, [col] 20% ) ;
        grid-template-rows: repeat(3, [row] auto  );
        background-color: #fff;
        color: #444;
    }

    .Box {
        background-color: rgb(224, 210, 11);
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        z-index:10;

    }

    .a {
        grid-column: col / span  2;
        grid-row: row ;
        display:flex;
        justify-content: center;
    }
    .b {
        grid-column: col 4 / span  2 ;
        grid-row: row ;
        display:flex;
        justify-content: center;
    }
    .c {
        grid-column: col /span 5;
        grid-row: row 2 ;
        display:flex;
        justify-content: center;
        background-image: linear-gradient( orange, brown,yellow, red,) ;
    }
    .d {
        grid-column: col 2 / span  1 ;
        grid-row: row 3 ;
        display:flex;
        justify-content: center;
        
    }

    .e {
        grid-column: col 3 / span  2;
        grid-row: row 3;
        display:flex;
        justify-content: center;
    }

    .f {
        grid-column: col 2 / span 3;
        grid-row: row 2  ;
        display:flex;
        justify-content: center;
        background-color: rgba(49,121,207, 0.5);
        z-index: 20;
        background-image: linear-gradient(brown yellow,orange,red);
    }